
body {
    background-color: rgb(44, 44, 44);
    line-height: 1.5;
    text-align: center;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
    text-shadow: 2px 2px 1px whitesmoke;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serifS;
    padding-bottom: 50px;
    color: rgb(138, 207, 141);
}

h3, h4 {
    font-family: Apple Chancery, cursive;
    text-align: center;
    margin-top: 70px;
    box-shadow: 0px 1px white;
    color: rgb(135, 197, 135);
}
a:link, a:visited {
    text-decoration: none;
    color: whitesmoke;
	}
a:hover {
	text-decoration: underline; 
	color: rgb(130, 247, 255)
	}
a:active {
    text-decoration: none;
    color:rgb(130, 255, 151)
    }
    
img {
    box-shadow: 3px 3px whitesmoke;
}
ol {
    list-style-position: inside;
    padding: 20px;
    margin: 30px;
  }